{
    "semi": true,
    "tabWidth": 4,
	"useTabs": false,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,
	"endOfLine": "auto",
	"bracketSpacing": true
}